body, * {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}

table, th, td {
    border: 1px solid rgb(219, 195, 172);
    border-collapse: collapse;
}

table {
    width: 50%
}

th {
    background-color: rgb(219, 195, 172);
}

th, td {
    padding: 10px;
}

.container-fluid {
    text-align:justify;
    background-color: rgb(219, 195, 172);
    width: 50%
}
